[submodule "projects/To-Do-list-Javascript"]
	path = projects/To-Do-list-Javascript
	url = https://github.com/Kthesword/To-Do-list-Javascript
[submodule "projects/Todo-app-react"]
	path = projects/Todo-app-react
	url = https://github.com/Kthesword/Todo-app-react
[submodule "projects/To-Do-App-Typescript"]
	path = projects/To-Do-App-Typescript
	url = https://github.com/Kthesword/To-Do-App-Typescript
[submodule "projects/contact-Form-React"]
	path = projects/contact-Form-React
	url = https://github.com/Kthesword/contact-Form-React
